/*
Theme Name: Chintan Mota Theme (Child)
Theme URI: https://chintanmota.com
Description: GeneratePress child theme for chintanmota.com (clean scaffold).
Author: Chintan Mota
Template: generatepress
Version: 1.0.1
Text Domain: cm-gp-child
*/

/* All styles are enqueued from functions.php */
